body{
    background-color: rgb(69, 85, 85);
}
.bordes{
    border: 1px solid black;
}
.estilo{
    border: 1px solid red;
    background-color: cadetblue;
}

.container-header{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}
.item1{
    flex-grow: 2;
    align-self: flex-start;
}
.item2{

}
.item3{
    flex-grow: 3;
    align-self: flex-end;
}
.item4{
    flex-shrink: 4;
}